{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Stock</h1>
    </div>

    
{% endblock %}
