{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Estadísticas</h1>
    </div>

    <div class="row">
        <div id="top_x_div" class="col" ></div>
    </div>

    <div class="row">
      <div class="col-6">
        <table class="table">
          <th>Familia</th>
          <th>Cantidad</th>

          {% for familia, cantidad in familias %}
            <tr>
              <td>{{ familia }}</td>
              <td>{{ cantidad }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>


      <div class="col-6">
        <table class="table">
          <th>Artículos</th>
          <th>Cantidad</th>

          {% for articulo, cantidad in articulos %}
            <tr>
              <td>{{ articulo }}</td>
              <td>{{ cantidad }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

</div>

{% endblock %}
