{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<br>
<br>
	
<div class="container">



    <div class="alert alert-info" role="alert">
        Ingrese los datos de la cabecera
    </div>

    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    {{ form_end(formulario) }}

</div>



{% endblock %}
