{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<br>
<br>
	
<div class="container-fluid	">	
	<div class="row">
		<div class="col-sm-4">
	    	<div class="card">
	      		<div class="card-body">
	        		<h5 class="card-title">Entrega</h5>
	        		<p class="card-text">Generá una nota de entrega de Artículos o Paquetes y registra el proceso.</p>
	        		<a href="#" class="btn btn-danger">Entregar</a>
	      		</div>
	    	</div>
	    </div>

	    <div class="col-sm-4">
	    	<div class="card">
	      		<div class="card-body">
	        		<h5 class="card-title">Reserva</h5>
	        		<p class="card-text">Selecciona un grupo de Artículos o Paquetes y reservalos para entregarlos en el futuro.</p>
	        		<a href="#" class="btn btn-primary">Reservar</a>
	      		</div>
	    	</div>
	    </div>

	    <div class="col-sm-4">
	    	<div class="card">
	      		<div class="card-body">
	        		<h5 class="card-title">Nuevo paquete de entrega</h5>
	        		<p class="card-text">Creá un conjunto de articulos para entregar o reservar, según necesites.</p>
	        		<a href="#" class="btn btn-primary">Crear</a>
	      		</div>
	    	</div>
	    </div>

	    
	</div>
</div>    

{% endblock %}
