{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="container">
  <br>
  <div class="jumbotron">
      <h1>
        Error:<br>
        {{mensaje}}

      </h1>
    <br>
    <hr>
    <a href="{{link}}">
      <button class="btn btn-danger" style="float:right;">Volver a control</button>
    </a>
  </div>
</section>
{% endblock %}
