<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %}</title>
        {% block stylesheets %}
            {% block head_css %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {% endblock %}
        {% endblock %}
    </head>
    <body  class="skin-blue">
    <div class="jumbotron">
        <h1 class="display-4">INVENTARIO</h1>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
