<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body  class="skin-blue">
            <h1>Inventario</h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
